html {
    position: relative;
    min-height: 100%;
}
ul, li, h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}
body {
    font-size: 13px;
    font: 13px/18px Arial;
    margin-bottom: 35px;
}

/*#region header */
.mt-header .navbar {
    position: relative;
    margin-bottom: 0;
    border: none;
}
.mt-header .navbar-brand {
    padding-top: 0px;
}
.mt-header .user-info {
    display: inline-block;
    padding: 6px 0;
    color: #fff;
    margin-left: 20px;
}
.mt-header .user-info-link, .mt-header .user-info-link:active {
    font-size: 12px;
    color: #fff;
}
.mt-header .user-info-link:hover {
    text-decoration: underline;
}
.mt-header .user-info-mobile {
    padding: 10px 0;
    text-align: center;
    display: none;
}

/*----login----*/
.mt-login {
    padding-top: 30px;
}
.mt-login .panel-heading {
    padding: 3px;
    background-color: #028fcc;
    color: #fff;
    line-height: 30px;
    text-align: center;
}
.mt-login .panel-body {
    padding: 20px !important;
}
.mt-login .checkbox-primary {
    margin-left: 32px !important;
}
.mt-login .account {
    color: #696969;
    text-align: center;
}
.mt-login .account span {
    margin-right: 10px;
}
/*----footer----*/
.mt-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    border-top: solid 1px #c2c2c2;
    -webkit-box-shadow: 0px 0px 3px #c2c2c2;
    -moz-box-shadow: 0px 0px 3px #c2c2c2;
    box-shadow: 0px 0px 3px #c2c2c2;
    background-color: #028fcc !important;
    color: #fff;
    padding-top: 5px;
}
.mt-footer .copyright {
    font-size: 13px;
    text-align: center;
}

/*----Home----*/
.mt-wrap {
    padding-top: 16px;
}
.mt-wrap .form-control {
    z-index: 0;
}

.mt-detail {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.mt-detail .title {
    font-size: 22px;
    font-weight: 500;
    padding: 10px 0;
}
.mt-detail .image {
    width: 100%;
}
.mt-detail .description {
    overflow: hidden;
    display: block;
    width: 98%;
    text-align: justify;
    color: #393939;
    font-size: 16px;
    padding: 10px 0;
    margin-bottom: 15px;
}
.mt-detail .price {
    overflow: hidden;
    display: block;
    width: 98%;
    font-size: 20px;
    font-weight: bold;
    color: #DD1A22;
    margin-bottom: 15px;
}
.mt-detail .accessories {
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    border: solid 1px #eaeaea;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.mt-detail .accessories ul {
    display: block;
    overflow: hidden;
    list-style: none;
    margin: 0;
}
.mt-detail .accessories ul li {
    display: block;
    padding-left: 23px;
    padding-top: 1px;
    font-size: 13px;
    text-align: justify;
    line-height: 25px;
}
.mt-detail .accessories ul .fa-cube {
    position: relative;
}
.mt-detail .accessories ul .fa-cube:before {
    position: absolute;
    font-family: FontAwesome;
    font-size: 16px;
    top: 0;
    left: 0;
    padding-right: 7px;
    content: "\f1b2";
}
.mt-detail .accessories ul .fa-clock {
    position: relative;
}
.mt-detail .accessories ul .fa-clock:before {
    position: absolute;
    font-family: FontAwesome;
    font-size: 16px;
    top: 0;
    left: 0;
    padding-right: 7px;
    content: "\f017";
}
.mt-detail .accessories ul .fa-undo {
    position: relative;
}
.mt-detail .accessories ul .fa-undo:before {
    position: absolute;
    font-family: FontAwesome;
    font-size: 16px;
    top: 0;
    left: 0;
    padding-right: 7px;
    content: "\f0e2";
}
.mt-detail .button {
    display: block;
    overflow: hidden
}
.mt-detail .button a {
    text-decoration: none;
}
.mt-detail .button .buy-now {
    float: left;
    width: 49.5%;
    overflow: hidden;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background: #fd6e1d;
    border-radius: 4px;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fd6e1d),to(#f59000));
    background: -webkit-linear-gradient(top,#f59000,#fd6e1d);
    background: -moz-linear-gradient(top,#f59000,#fd6e1d);
    background: -ms-linear-gradient(top,#f59000,#fd6e1d);
    background: -o-linear-gradient(top,#f59000,#fd6e1d);
    margin-right: 1%
}
.mt-detail .button span {
    display: block;
    font-size: 12px;
    color: #fff;
    text-transform: none;
    font-weight: normal
}
.mt-detail .button .buy-ins {
    line-height: normal;
    float: right;
    width: 49.5%;
    padding: 5px 0;
    border-radius: 4px;
    text-align: center;
    background: #288ad6;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}


@media (max-width: 394px) {
    .navbar-default .navbar-nav > li:first-child {
        border-top: solid 1px #fff;
    }
}
@media (max-width: 768px) {
    .navbar-collapse .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }
    .navbar-collapse .navbar-collapse .collapse {
        display: none !important;
    }
    .collapse.in {
        display: block !important;
    }
    .navbar-default .navbar-nav .dropdown-menu {
        padding: 0;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 5px 15px;
        font-size: 12px;
    }
    .navbar-default .navbar-nav > li:not(:last-child), .navbar-default .navbar-nav .dropdown-menu > li:not(:last-child) {
        padding: 0;
        border-bottom: solid 1px #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 35px;
        color: #fff;
        font-size: 12px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        text-decoration:underline;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        text-decoration: underline;
    }
    .navbar-default .navbar-nav .caret {
        float: right;
        margin-top: 7px;
    }
}
