<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
	</configSections>
	<connectionStrings>
		<add name="ESMedicalConnectionString" connectionString="Data Source=.;Database=ESMEDICAL;UID=sa;PWD=sa"/>
	</connectionStrings>
	<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="/" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
		<rewrites>
			<add name="RemoveTrailingSlash" virtualUrl="^~/(.*)/(\?.*)?$" destinationUrl="~/$1$2" rewriteUrlParameter="ExcludeFromClientQueryString" redirectMode="Permanent" redirect="Application" ignoreCase="true"/>
			<add name="Home" virtualUrl="^~/home" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx" ignoreCase="true"/>
			<add name="Login" virtualUrl="^~/login" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Login.aspx" ignoreCase="true"/>
			<add name="UserInfo" virtualUrl="^~/doi-mat-khau" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/UserInfo.aspx" ignoreCase="true"/>
			<add name="SignOut" virtualUrl="^~/thoat" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/SignOut.aspx" ignoreCase="true"/>
			<add name="AdminAdd" virtualUrl="^~/diabetes/(.+)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/DiabetesAdd.aspx?Id=$1" ignoreCase="true"/>
			<add name="Admin" virtualUrl="^~/diabetes" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Diabetes.aspx" ignoreCase="true"/>
			<add name="About" virtualUrl="^~/about" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/About.aspx" ignoreCase="true"/>
			<add name="Default" virtualUrl="^([a-zA-Z0-9_\-/]*)(\?.*)?$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="$1/Default.aspx$2" ignoreCase="true"/>
		</rewrites>
	</urlrewritingnet>
	<system.web>
		<httpCookies httpOnlyCookies="true" requireSSL="false"/>
		<customErrors mode="Off" defaultRedirect="/dang-nhap"/>
		<compilation targetFramework="4.0" batch="false" debug="true">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="/" defaultUrl="/" name=".ASPXAUTH" timeout="43200"/>
		</authentication>
		<sessionState mode="InProc" cookieless="false" timeout="80"/>
		<httpRuntime executionTimeout="480" maxRequestLength="2097151"/>
		<pages validateRequest="false" buffer="true" clientIDMode="Static" enableViewStateMac="false" enableViewState="true" enableEventValidation="false" viewStateEncryptionMode="Never" autoEventWireup="true" renderAllHiddenFieldsAtTopOfForm="false" controlRenderingCompatibilityVersion="4.0"/>
		<httpModules>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
		</httpModules>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483647"/>
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
		</modules>
		<caching enabled="false" enableKernelCache="false"/>
	</system.webServer>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>